@charset "UTF-8";
header {
  margin-bottom: 120px;
  padding-bottom: 0px;
}

.textInfo {
  margin-bottom: 200px;
}

.textInfo .container .row {
  padding-left: 12px;
}

.textInfo .container .row .textBody div:nth-child(1) {
  font-family: SimSun;
  font-size: 52px;
  line-height: 62px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #000000;
}

.textInfo .container .row .textBody div:nth-child(2) {
  font-family: SimSun;
  font-size: 46px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #000000;
}

.textInfo .container .row .textBody p {
  font-family: SimSun;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 71.6px;
  letter-spacing: 0px;
  color: #000000;
}

.centreShow {
  margin-bottom: 110px;
}

.centreShow .container .row .entreImg {
  padding-bottom: 26px;
}

.centreShow .container .row .entreImg img {
  width: 100%;
}

.centreShow .container .row > ul {
  margin-top: 32px;
  margin-bottom: 48px;
  list-style: none;
  padding-left: 15px;
}

.centreShow .container .row > ul li {
  padding-right: 10px;
  cursor: pointer;
  overflow: hidden;
}

.centreShow .container .row > ul li img {
  border-bottom: 1px solid #000;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translateY(-99%);
          transform: translateY(-99%);
  width: 100px;
}

.centreShow .container .row .entreInfo .row .entreInfoLeft > div {
  padding-bottom: 30px;
}

.centreShow .container .row .entreInfo .row .entreInfoLeft > div > span {
  font-family: SimSun;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 28px;
  letter-spacing: 0px;
  color: #c6c6c6;
}

.centreShow .container .row .entreInfo .row .entreInfoLeft > div > div {
  font-family: SimSun;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 36px;
  letter-spacing: 0px;
  color: #000000;
}

.centreShow .container .row .entreInfo .row .entreInfoRight > span {
  font-family: SimSun;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 28px;
  letter-spacing: 2.4px;
  color: #000000;
}

.centreShow .container .row .entreInfo .row .entreInfoRight > div {
  padding-top: 27px;
  font-family: SimSun;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 28px;
  letter-spacing: 1.8px;
  color: #000000;
}

.showImg {
  margin-bottom: 120px;
}

.showImg .container .showImgTitle {
  padding-bottom: 40px;
  font-family: SimSun;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #010101;
}

.showImg .container .showImgContent .showImgContentDown {
  position: relative;
}

.showImg .container .showImgContent .showImgContentDown .showImgContentUp {
  position: absolute;
  left: 0;
  top: 7px;
}

.showImg .container .showImgContent .showImgContentDown .showImgContentUp img {
  width: 18px;
  height: 18px;
  margin-left: 20px;
}

.phoneShow {
  margin-bottom: 122px;
}

.phoneShow .phoneImgLeft {
  text-align: center;
}

.phoneShow .phoneImgLeft iframe {
  margin: 0 auto;
}

.ShowImgThree .ShowImgThreeTitle {
  padding-bottom: 50px;
  font-family: SimSun;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #000000;
}

.ShowImgThree .row {
  position: relative;
}

.ShowImgThree .row .ShowImgThreeBox {
  -webkit-transition: all 1s cubic-bezier(0.7, 0.3, 0, 1);
  transition: all 1s cubic-bezier(0.7, 0.3, 0, 1);
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.ShowImgThree .row .ShowImgThreeBox .ShowImgThreeBody {
  padding: 60px 71px;
  background-image: url("../images/app_img/矩形12.png");
}

.ShowImgThree .row .ShowImgThreeBox .ShowImgThreeBody #carousel-example-generic .carousel-inner .item img {
  width: 100%;
}

.ShowImgThree .row .leftBtn {
  position: absolute;
  left: 33px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 20px;
  color: #000;
}

.ShowImgThree .row .leftBtn div {
  z-index: -1;
  position: absolute;
  left: 6px;
  top: 50%;
  width: 0px;
  height: 1px;
  background-color: #000;
  -webkit-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.ShowImgThree .row .rightBtn {
  position: absolute;
  right: 21px;
  top: 50%;
  color: #000;
  font-size: 20px;
}

.ShowImgThree .row .rightBtn span div {
  z-index: -1;
  position: absolute;
  right: 6px;
  top: 50%;
  width: 0px;
  height: 1px;
  background-color: #000;
  -webkit-transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.ShowImgThree ul {
  margin-top: 32px;
  margin-bottom: 48px;
  list-style: none;
  padding: 0;
}

.ShowImgThree ul li {
  padding-right: 10px;
  cursor: pointer;
  overflow: hidden;
}

.ShowImgThree ul li img {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translateY(-99%);
          transform: translateY(-99%);
  width: 100%;
}

.ShowImgFour {
  padding-bottom: 120px;
}

.ShowImgFour .ShowImgFourTitle {
  margin-bottom: 48px;
  font-family: SimSun;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #000000;
}

.ShowImgFour .ShowImgFourBody {
  margin: 0 auto;
  margin-bottom: 13px;
}

.ShowImgFour .ShowImgFourBody > div {
  padding: 0;
}

.ShowImgFour .ShowImgFourBody > div img {
  width: 98%;
}

footer {
  margin-bottom: 120px;
}

footer .row > div {
  padding: 0px;
  font-family: SimSun;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #000000;
}
/*# sourceMappingURL=app.css.map */