.title {
  > div:nth-child(1) {
    width: 100%;
    font-family: Trajan;
    font-size: 30px;
    color: #000000;
  }
  > div:nth-child(2) {
    padding-top: 30px;
    font-size: 16px;
    font-family: STSongti-SC-Regular;
  }
}
.show {
  img {
    width: 100%;
    padding-top: 50px;
  }
  p {
    padding-top: 58px;
    text-align: center;
    font-size: 22px;
  }
}
.more {
  > div:nth-child(1) {
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: Trajan;
    font-size: 36px;
  }
  > div:nth-child(2) {
    img {
      height: 392px;
    }
  }
  > div:nth-child(3) {
    img {
      height: 392px;
    }
  }
  > div:nth-child(4) {
    padding-top: 20px;
  }
  img {
    width: 100%;
  }
}
