ul {
  list-style: none;
}
a {
  color: #000000;
}
a:hover {
  text-decoration: none;
  color: #000000;
}
@font-face {
  font-family: 'Didot';
  src: url('../font/Didot.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'STSongti-SC-Regular';
  src: url('../font/Songti-SC-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Trajan';
  src: url('../font/Trajan.otf');
  font-weight: normal;
  font-style: normal;
}
header {
  padding-top: 60px;
  padding-bottom: 80px;
  img {
    cursor: pointer;
  }
}
footer {
  margin: 150px 0 100px 0;
}
body {
  transition: all 0.8s cubic-bezier(0.7, 0.3, 0, 1);
}
// 侧边栏
.nav {
  opacity: 0;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 0%;
  background-color: #fff;
  height: 100%;
  transition: all 0.8s cubic-bezier(0.7, 0.3, 0, 1);
  padding-top: 5%;
  > div {
    transition: all 0.8s cubic-bezier(0.7, 0.3, 0, 1);
    opacity: 0;
    padding-left: 20%;
    .nav_up {
      cursor: pointer;
    }
    .nav_middle {
      padding-top: 15%;
      > span {
        color: #7f7f7f8c;
        font-family: "PingFang SC";
      }
      > ul {
        padding-left: 12%;
        li {
          position: relative;
          height: 55px;
          line-height: 55px;
          span {
            position: absolute;
            left: 0;
            top: 50%;
            width: 0px;
            height: 1px;
            background-color: #000;
            transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
          }
          > a {
            padding-left: 0px;
            transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
          }
          font-family: "SimSun";
          font-size: 38px;
        }
        > li:hover {
          span {
            width: 30px;
          }
          > a {
            padding-left: 44px;
          }
        }
      }
    }
    .nav_down {
      padding-top: 25%;
      > div:nth-child(1) {
        font-size: 16px;
        color: #ccc;
      }
    }
  }
}
.nav_open {
  opacity: 1;
  width: 50%;
}
.fullshade {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.7, 0.3, 0, 1);
}
