header {
    padding-top: 60px;
  .headerLeft {
    padding: 0;
  }
  .headerRight {
    padding: 0;
  }
}
footer {
  margin: 150px 0 100px 0;
  .myInfoLeft {
    padding: 0;
  }
  .myInfoRight {
    padding: 0;
  }
}
