ul {
  list-style: none;
}
a {
  color: #000000;
}
a:hover {
  text-decoration: none;
  color: #000000;
}
@font-face {
  font-family: 'Didot';
  src: url('../font/Didot.ttf');
  font-weight: normal;
  font-style: normal;
}
// 轮播图
.slideshow {
  margin-bottom: 50px;
  > .container {
    // 轮播图里面
    .carousel {
      // 距离字体的距离
      margin-bottom: 30px;
      .carousel-inner {
        .item {
          > img {
            width: 100%;
          }
        }
      }
      position: relative;
      .btn-banner {
        position: absolute;
        right: 0px;
        bottom: 0;
        width: 160px;
        height: 40px;
        background-color: #fff;
        box-shadow: 0px 1px 5px #888888;

        > a {
          > span {
            font-size: 16px;
            line-height: 40px;
          }
        }
        > .left {
          padding-left: 30px;
        }
        > .right {
          padding-right: 30px;
        }
      }
    }
    // 字体
    .showFont {
      padding-bottom: 150px;
      .showFont_a {
        font-family: Didot;
        font-size: 42px;
        font-weight: normal;
        font-style: italic;
        font-stretch: normal;
        line-height: 70px;
        letter-spacing: 4.2px;
        color: #222222;
        transition: margin 1s cubic-bezier(0.7, 0.3, 0, 1);
      }
    }
    // 数字
    .nums_banner {
      position: relative;
      > div {
        position: absolute;
        right: 0;
        bottom: 70px;
        font-size: 40px;
        font-family: 'Didot';
        transition: bottom 1s cubic-bezier(0.7, 0.3, 0, 1);
        > span {
          color: #ccc;
        }
      }
    }
  }
}
// 主页主体
.content {
  .container:nth-child(1) {
    // margin-bottom: 180px;
    transition: all 1s cubic-bezier(0.7, 0.3, 0, 1);
    .mywork {
      margin-bottom: 50px;
      .work {
        font-family: 'SimSun';
        text-align: center;
        font-size: 40px;
        color: #000000;
      }
      .myitem {
        padding-top: 10px;
        text-align: center;
      }
    }
  }
  .container:nth-child(2) {
    .logoContentThree {
      margin-bottom: 300px;
    }
    > .row {
      transition: all 400ms ease-out;
      margin-top: 100px;

      > div {
        padding: 0;
        a {
          font-family: 'PingFang SC';
          width: 65%;
          text-align: center;
          font-size: 22px;
          color: #000000;
          > div {
            opacity: 0;
            transition: all 400ms ease-out;
          }
          > div:nth-child(2) {
            margin-top: 25px;
            margin-bottom: 18px;
          }
          > img {
            opacity: 0;
            transition: all 1000ms ease-out;
            margin: 0 auto;
            width: 180px;
          }
        }
      }
    }
  }
}
// 我的关注
.myattention {
  .attention_left {
    div {
      font-family: 'SimSun';
      font-size: 28px;
    }
    p {
      font-family: 'SimSun';
      font-size: 12px;
      color: #000000;
    }
  }
  .attention_right {
    ul {
      li {
        padding-top: 20px;
        line-height: 48px;
        border-bottom: 1px solid #dedede;
        .news {
          > span {
            font-family: 'SimSun';
            font-size: 20px;
          }
          > span:nth-child(2) {
            padding-left: 20px;
            color: #b5b5b5;
          }
        }
      }
    }
  }
}

// 侧边栏
.nav {
  opacity: 0;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 0%;
  background-color: #fff;
  height: 100%;
  transition: all 0.8s cubic-bezier(0.7, 0.3, 0, 1);
  padding-top: 5%;
  > div {
    transition: all 0.8s cubic-bezier(0.7, 0.3, 0, 1);
    opacity: 0;
    padding-left: 20%;
    .nav_up {
      cursor: pointer;
    }
    .nav_middle {
      padding-top: 15%;
      > span {
        color: #7f7f7f8c;
        font-family: 'PingFang SC';
      }
      > ul {
        padding-left: 12%;
        li {
          position: relative;
          height: 55px;
          line-height: 55px;
          span {
            position: absolute;
            left: 0;
            top: 50%;
            width: 0px;
            height: 1px;
            background-color: #000;
            transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
          }
          > a {
            padding-left: 0px;
            transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
          }
          font-family: 'SimSun';
          font-size: 38px;
        }
        > li:hover {
          span {
            width: 30px;
          }
          > a {
            padding-left: 44px;
          }
        }
      }
    }
    .nav_down {
      padding-top: 25%;
      > div:nth-child(1) {
        font-size: 16px;
        color: #ccc;
      }
    }
  }
}
.nav_open {
  opacity: 1;
  width: 50%;
}
.fullshade {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 98;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.7, 0.3, 0, 1);
}
