.title {
  > div:nth-child(1) {
    width: 100%;
    font-family: "Trajan";
    font-size: 30px;
    color: #000000;
  }
  > div:nth-child(2) {
    padding-top: 30px;
    font-size: 16px;
    font-family: "STSongti-SC-Regular";
  }
}
.centreShow {
  margin-bottom: 110px;
  .container {
    .row {
      .entreImg {
        padding-bottom: 26px;
        img {
          width: 100%;
        }
      }
      > ul {
        margin-top: 32px;
        margin-bottom: 48px;
        list-style: none;
        padding-left: 15px;
        li {
          padding-right: 10px;
          cursor: pointer;
          overflow: hidden;
          img {
            border-bottom: 1px solid #000;
            background-color: rgba(0, 0, 0, 0.6);
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
            transform: translateY(-99%);
            width: 100px;
            // opacity: ;
          }
        }
      }
      .entreInfo {
        .row {
          .entreInfoLeft {
            > div {
              padding-bottom: 30px;
              > span {
                font-family: SimSun;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                line-height: 28px;
                letter-spacing: 0px;
                color: #c6c6c6;
              }
              > div {
                font-family: SimSun;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                line-height: 36px;
                letter-spacing: 0px;
                color: #000000;
              }
            }
          }
          .entreInfoRight {
            > span {
              font-family: SimSun;
              font-size: 24px;
              font-weight: normal;
              font-stretch: normal;
              line-height: 28px;
              letter-spacing: 2.4px;
              color: #000000;
            }
            > div {
              padding-top: 27px;
              font-family: SimSun;
              font-size: 18px;
              font-weight: normal;
              font-stretch: normal;
              line-height: 28px;
              letter-spacing: 1.8px;
              color: #000000;
            }
          }
        }
      }
      // webpage
      .webpage_tltle {
        font-size: 22px;
        padding-bottom: 51px;
      }
      .web_i {
        padding-bottom: 132px;
      }
      .webpage_img {
        img {
          width: 100%;
        }
      }
      .webpage_img_i {
        background: url(../images/website/iMac.png);
        background-repeat: no-repeat;
        height: 860px;
        position: relative;
        >div {
          position: absolute;
          top: 48px;
          left: 37px;
          width: 1110px;
          overflow: hidden;
          >div {
            width: 1126px;
            height: 458px;
            overflow-y: scroll;
          }  
        }
      }
      .theme_title {
        padding-top: 132px;
        font-size: 22px;
      }
      .theme_box_first {
        padding-top: 44px;
        height: 320px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .theme_box_last {
        padding-top: 44px;
        height: 320px;
        overflow: hidden;
      }
    }
  }
}
